body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #F9D8FA;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  color: white;
  padding: 20px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 6vw; 
    color: white;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 2vw; 
}

button {
  font-size: 18px;
  background-color: #B5B4F1;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
  transition: background-color 0.3s ease;
  font-weight: bold; 
}

button:hover {
  background-color: #8f8ecf; /* New background color on hover */
  transition: background-color 0.3s ease; /* Add transition effect */
}
main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.container {
  flex-basis: calc(50% - 20px);
  background-color: #4A7279;
  padding: 20px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px; /* Add margin-top */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  flex-direction: row;
}

.image-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px;
  padding: 0 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease; 
}

.image-container img:hover {
  transform: scale(1.2); 
}

.contact-list {
  font-size: 16px;
}

.contact-item {
  margin-bottom: 10px;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

#emailForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emailForm label {
    font-size: 16px;
    margin-bottom: 5px;
}

#emailForm input[type="email"],
#emailForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#emailForm input[type="submit"] {
  font-size: 18px;
  background-color: #B5B4F1;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
  transition: background-color 0.3s ease;
  font-weight: bold; 
}

#emailForm input[type="submit"]:hover {
    background-color: #8f8ecf; /* Same background color as other buttons on hover */
    transition: background-color 0.3s ease; /* Add transition effect */
}


footer {
  background-color: #B5B4F1;
  color: white;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
  margin-top: auto; /* Push the footer to the bottom of the page */
}
